body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.blur-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: -1;
}